.Search-Section {
    display: flex;
    justify-content: center;
    align-items: baseline;
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('../img/back-search-section2.png');
    background-position: center;
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
}

.Not-write {
    margin: 0 0 auto;
}

h2 {
    font-size: 55px;
    color: rgb(143, 31, 31);
    font-weight: 900;
    padding-bottom: 0;
    margin-bottom: 10px;
}

.Search-Section__Container {
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: column; 
    width: 100%;
    height: 100%;
}


.Search-Function {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.Search-Function__Container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    width: 100%;
}

.Input-Type-Search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    gap: 15px;
}

.Input-Search__Container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 1px solid rgb(143, 31, 31);
    backdrop-filter: blur(7px);
    border-radius: 8px;
    padding-left: 15px;
    gap: 5px;
    width: 50%;
    height: 35px;
}

.Input-Search__Container input {
    width: 95%;
    height: 95%;
    background: rgb(255, 255, 255, .7);
    backdrop-filter: blur(7px);
    border: none;
    outline: none;
}

.Input-Search__Container input::placeholder {
    font-style: italic;
    color: rgb(143, 31, 31);
}

.Input-Type-Search button {
    width: 120px;
    height: 35px;
    background: rgb(143, 31, 31);
    border-radius: 8px;
    border: 1px solid rgb(143, 31, 31);
    outline: none;
    color: white;
    font-size: 17px;
}

.Results-Search, .Results-Search__Container {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 71%;
    margin-top: 5px;
    transition: all ease-in-out .2s;
}

.Results-Search__Container.active {
    flex-direction: column;
    background-color: rgb(255, 255, 255, .5);
    backdrop-filter: blur(7px);
    border-radius: 12px;
}

.Information-Results span {
    font-size: 10px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(165, 95, 95);
    color: white;
}

.Information-Results {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 70%;
}

.Results {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 65vh; /* Ajusta la altura máxima según tus necesidades */
    margin-top: 10px;
    overflow-y: auto; /* Habilita el desplazamiento vertical */
}

.Results__Container::-webkit-scrollbar {
    width: 5px;
    /* width of the entire scrollbar */
  }
  
  .Results__Container::-webkit-scrollbar-track {
    background: rgb(174, 174, 174);
    /* color of the tracking area */
  }
  
  .Results__Container::-webkit-scrollbar-thumb {
    background-color: #b32f2f;
    /* color of the scroll thumb */
    border-radius: 5px;
    /* roundness of the scroll thumb */
    border: 1px solid #b32f2f;
    /* creates padding around scroll thumb */
  }

.Results__Container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-height: 100%; /* Ajusta la altura máxima según tus necesidades */
    overflow-y: auto; /* Habilita el desplazamiento vertical */
    overflow-x: hidden;
}


.Not-write {
    color: rgb(67, 66, 66);
}

.Item-Result {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    gap: 10px;
    width: 100%;
    height: 45px;
    border: 1px solid rgb(243, 242, 242);
    background: rgb(239, 238, 238);
    border-radius: 8px;
    cursor: pointer;
}

.Item-Result:hover {
    background: rgb(243, 242, 242);
}

.Item-Result-Img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50px;
    height: 50px;
    background: rgb(214, 213, 213);
    border-radius: 8px;
}

.Loading {
    position: absolute;
    text-align: center;
    margin: 0 0 auto;
    color: black;
    font-size: 15px;
}

.Item-Result-Img svg {
    width: 25px;
    height: 25px;
}

.Item-Result-Img img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.Item-Result div {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.Item-Result .Item-Result-Name {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

.Item-Result-Name ul {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
}

.Item-Result-Name ul span {
    font-size: 9px;
}

.Item-Result-Name h3 {
    font-size: 17px;
    font-weight: 900;
    padding: 0;
    margin: 0;
}

.Options-S {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.Options__Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.Options__Container span {
    font-size: 12px;
    color: rgb(84, 20, 20);
}

.selectOption {
    position: relative;
    width: 200px;
    height: auto;
    display: flex;
    margin-top: 8px;
}

.selectOption input {
    position: relative;
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 600;
    background: rgb(255,55,55);
    background: linear-gradient(90deg, rgb(179, 36, 36) 0%, rgb(200, 77, 77) 48%, rgba(216,103,103,1) 84%);
    color: white !important;
    cursor: pointer;
}

.selectOption input::placeholder {
    color: white;
    font-size: 10px;
}

.options {
    position: absolute;
    width: 200px;
    max-height: 220px;
    background: rgb(255,55,55);
    background: linear-gradient(90deg, rgb(179, 36, 36) 0%, rgb(200, 77, 77) 48%, rgba(216,103,103,1) 84%);
    border-radius: 10px;
    top: 100%;
    transform: translateY(0);
    overflow: hidden;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition:  0.3s ease;
    color: #c9c9c9;
}

.options.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(5%);
}

.options li {
    list-style: none;
    font-size: 12px;
    text-transform: capitalize;
    padding: 8px 10px;
    cursor: pointer;
    color: white;
}

.options li:hover {
    background: rgb(100, 60, 60);
}

.options::-webkit-scrollbar {
    width: 5px;
}

.options::-webkit-scrollbar-track {
    background: #c9c9c9;
}

.options::-webkit-scrollbar-thumb {
    background: rgb(100, 60, 60);
    border-radius: 20px;
}

.options::-webkit-scrollbar-thumb:hover {
    background: #8e8e8e;
}

@media (max-width: 600px) {
    .Input-Search__Container {
        width: 90%;
    }

    .Results-Search, .Results-Search__Container {
        width: 95%;
    }

    .Search-Section {
        background-position: left;
    }

    .Options-S {
        width: 90%;
    }

    h2 {
        font-size: 39px;
    }
}

@media (max-width: 400px) {
    .Input-Search__Container {
        width: 90%;
    }

    .Results-Search, .Results-Search__Container {
        width: 95%;
    }

    h2 {
        font-size: 34px;
    }

    .Results {
        height: 75vh;
    }

    .Options {
        position: absolute;
        top: 45px;
        right: 10px;
    }

    .Options__Container span {
        font-size: 10px;
        color: rgb(84, 20, 20);
    }
    
    .selectOption {
        position: relative;
        width: 150px;
        height: auto;
        display: flex;
        margin-top: 8px;
    }

    .selectOption input {
        position: relative;
        width: 100%;
        padding: 7px;
        outline: none;
        border: none;
        border-radius: 10px;
        font-size: 12px;
        color: white;
        cursor: pointer;
    }
    .Options-S {
        width: 90%;
    }
    
    .options {
        max-height: 154px;
        border-radius: 10px;
        top: 100%;
        transform: translateY(0);
        overflow: hidden;
        overflow-y: auto;
        visibility: hidden;
        opacity: 0;
        transition:  0.3s ease;
        color: #c9c9c9;
    }
    
    .options.active {
        visibility: visible;
        opacity: 1;
        transform: translateY(5%);
    }
    
    .options li {
        list-style: none;
        font-size: 10px;
        text-transform: capitalize;
        padding: 8px 10px;
        cursor: pointer;
    }
    
    .options li:hover {
        background: rgb(100, 60, 60);
    }
}