body::-webkit-scrollbar {
  width: 5px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(174, 174, 174);
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #b32f2f;
  /* color of the scroll thumb */
  border-radius: 5px;
  /* roundness of the scroll thumb */
  border: 1px solid #b32f2f;
  /* creates padding around scroll thumb */
}


main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
  position: relative;
}